* {
  text-align: center;
  font-family: monospace;
  background-color: rgb(90, 187, 34);
}
h1 {
  background-color: rgba(49, 231, 125, 0.5);
  color: white;
  border-radius: 10px;
  text-align: right;
  padding: 7px;
}
.userinput {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
input {
  background-color: rgb(108, 255, 40);
  border-radius: 11px;
  font-size: 14px;
  width: 90%;
  margin: 4px;
}
.userbutton {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: rgba(0, 218, 181, 0.644);
  color: rgb(16, 17, 17);
  border-radius: 12px;
  font-size: 15px;
  width: 90%;
  margin: 4px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(55, 83, 39);
  border-radius: 10px;
  padding: 12px;
}
.calc {
  max-width: 400px;
  margin: auto;
}
